/* Master CSS for GreenEvents */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Custom Colors */
:root {
    --primary-color: rgb(46, 139, 87); /* Sea Green */
    --secondary-color: #3CB371; /* Medium Sea Green */
    --background-color: #E8F5E9; /* Light Green */
    --text-color: #2F4F4F; /* Dark Slate Gray */
    --link-color: #2E8B57; /* Sea Green */
    --link-hover-color: #228B22; /* Forest Green */
    --glass-bg: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    --glass-border: rgba(46, 139, 87, 0.3); /* Semi-transparent Sea Green */
    --glass-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
html {
    height: 100%; /* Ensures the html element covers the full height */
}
/* Global Styles */
body {
    background-color: var(--background-color);
    background-image: url("/media/profile_pictures/cool-background.png");
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    color: var(--text-color);
    font-family: 'system-ui', -apple-system;
    min-height: 100vh; /* Ensures the body covers the full viewport height */
    margin: 0; /* Removes any default margin */

    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Glass Effect Styles */
.glass {
    background: var(--glass-bg);
    border: 1px solid var(--glass-border);
    backdrop-filter: blur(10px);
    box-shadow: var(--glass-shadow);
    border-radius: 10px;
    padding: 15px;
}

/* Navbar Styles with Glass Effect */
.navbar {
    background: var(--glass-bg); /* Semi-transparent background */
    border: 1px solid var(--glass-border); /* Semi-transparent border */
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: var(--glass-shadow); /* Soft shadow */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Padding */
    transition: background-color 0.5s ease; /* Smooth transition */
}


.navbar.bg-dark {
    background-color: rgba(51, 51, 51, 0.1) !important;
}

.navbar-brand,
 svg{
    fill: #fff;
}



.navbar-nav .nav-item .custom-link {
    color: #fff; /* White color */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

/* Hover effect for navbar items */
.navbar-nav .nav-item.nav-hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

/* Footer Styles */
.footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
     margin-top: auto; /* Pushes the footer to the bottom if there is not enough content */
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: var(--secondary-color);
}

.footer .social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: inline-block;
    transition: opacity 0.2s;
}

.footer .footer-heading {
    cursor: pointer;
}

.footer .footer-links {
    display: none;
}

.footer .social-icon img {
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: opacity 0.2s;
}
.btn-outline-success {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-outline-success svg {
    margin-right: 8px;
}

.btn-outline-success:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Button Styles */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: goldenrod;
    border-color: var(--link-hover-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-secondary:hover {
    background-color: var(--link-hover-color);
    border-color: var(--link-hover-color);
}
.logo-text {
    font-family: 'Pacifico', cursive; /* Use a distinctive font */
    font-size: 1.5em; /* Increase font size */
    color: #fff; /* White color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    letter-spacing: 1px; /* Add spacing between letters */
    transition: color 0.3s, text-shadow 0.3s; /* Smooth transition */
}

.logo-text:hover {
    color: var(--secondary-color); /* Change color on hover */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Enhance shadow on hover */
}

/* Form Styles */
.form-control {
    border: 1px solid var(--secondary-color);
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}

/* Card Styles */
.card {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

.card-header {
    background-color: var(--primary-color);
    color: #fff;
}

/* Card Hover Effect */
.card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Custom Classes */
.bg-primary-custom {
    background-color: var(--primary-color) !important;
}

.bg-secondary-custom {
    background-color: var(--secondary-color) !important;
    color: #fff;
}

.text-primary-custom {
    color: var(--primary-color) !important;
}

.text-secondary-custom {
    color: var(--secondary-color) !important;
}

/* Additional Styles */
.container {
    margin-top: 30px;
}

.event-card {
    margin-bottom: 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.profile-header .profile-picture {
    margin-top: -75px;
    border: 5px solid #fff;
}

.event-details {
    padding: 20px;
    background-color: var(--glass-bg);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.event-details h2 {
    color: var(--primary-color);
}

/* Page Specific Styles */
.home-page .event-list {
    margin-top: 20px;
}

.event-details-page .event-info {
    margin-top: 20px;
}

.registration-page .registration-form,
.login-page .login-form {
    max-width: 500px;
    margin: 0 auto;
}

.profile-page .profile-info {
    margin-top: 20px;
}

.search-results-page .search-results {
    margin-top: 20px;
}

.user-history-page .history-list {
    margin-top: 20px;
}

.contact-page .contact-form,
.about-page .about-content,
.team-details-page .team-content {
    max-width: 800px;
    margin: 0 auto;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: inline-block;
}

.social-icon img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* Custom Styles for the Search Form */
#searchForm {
    margin-top: 20px;
}

/* Ensure the search icon is visible and clickable */
.nav-link i.fas {
    font-size: 1.2em;
}

/* Additional styles for the search icon */
#searchIcon {
    cursor: pointer;
}
/* Existing CSS above... */
.no-events {
    padding-left: 20px; /* Adjust the value to the desired tab space */
    margin-left: 20px;  /* Optional: Adjust if you want additional margin */
}

/* Flexbox styles to make cards uniform in height */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 calc(33.333% - 20px); /* 3 cards per row with a gap */
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.card-title,
.card-text {
    margin-bottom: auto;
}

.card-footer {
    align-self: flex-end;
    width: 100%;
}
/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
