{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <h1 class="mb-4">Profile</h1>
    <div id="profile-info" class="card p-4">
        {% if user %}
        <div class="row">
            <div class="col-md-4 text-center">
                {% if user.profile.profile_picture %}
                    <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle" width="150" height="150">
                {% else %}
                    <div class="avatar-placeholder">
                        <i class="fas fa-user-circle fa-5x"></i>
                    </div>
                {% endif %}

            </div>
            <div class="col-md-8">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>First Name:</strong> {{ user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
                <p><strong>Pronouns:</strong> {{ user.profile.pronouns }}</p>
                <p><strong>Phone Number:</strong> {{ user.profile.phone_number }}</p>
                <button id="edit-profile-btn" class="btn btn-secondary mt-3">Edit Profile</button>
            </div>
        </div>
        {% endif %}
    </div>

    <form id="profile-form" method="post" enctype="multipart/form-data" action="{% url 'edit_profile' %}" style="display: none;" class="mt-4">
        {% csrf_token %}
        <div class="card p-4">
            <fieldset>
                <legend>Personal Info</legend>
                {{ user_form.as_p }}
            </fieldset>
            <fieldset class="mt-4">
                <legend>Profile Info</legend>
                {{ profile_form.as_p }}
            </fieldset>
            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
            <button type="button" id="cancel-edit-btn" class="btn btn-secondary mt-3">Cancel</button>
        </div>
    </form>
    {% if lastLogin %}
        <p>Your last login time was: {{ lastLogin }}</p>

    {% endif %}
    Visit count: {{ visit_count }}
</div>

<script>
    document.getElementById('edit-profile-btn').addEventListener('click', function() {
        document.getElementById('profile-info').style.display = 'none';
        document.getElementById('profile-form').style.display = 'block';
    });

    document.getElementById('cancel-edit-btn').addEventListener('click', function() {
        document.getElementById('profile-form').style.display = 'none';
        document.getElementById('profile-info').style.display = 'block';
    });
</script>
{% endblock %}
