{% extends 'base.html' %}
{% block content %}
<div class="team-details-page">
    <div class="container team-content">
        <h2>Our Team</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Sanjay Kumar Muniyappa</h3>
                <p>Role: Lead Developer</p>
                <p>Email: muniyap@uwindsor.ca</p>
            </div>
            <div class="col-md-4">
                <h3>Bhuvaneshvar Narayan Jayashree Harikumar</h3>
                <p>Role: Developer</p>
                <p>Email: naraya62@uwindsor.ca</p>
            </div>
            <div class="col-md-4">
                <h3>Jahnavi Mandadi</h3>
                <p>Role: Developer</p>
                <p>Email: mandadij@uwindsor.ca</p>
            </div>
            <div class="col-md-4">
                <h3>Aamani Salehundam</h3>
                <p>Role: Developer</p>
                <p>Email: salehun@uwindsor.ca</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}